*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

#header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    margin-bottom: 20px;
}

#page {
    display: flex;
    justify-content: space-around;
}

#page button, #main-btns button {
    background-color: lightblue;
    margin: 5px;
    padding: 7px;
}

#char-options {
    padding-left: 100px;
}

#char-stats {
    padding-right: 100px;
    display: flex;
}

#stats-dis-div {
    flex-direction: column;
    justify-content: space-between;
}

#stats-btns-div {
    display: flex;
    align-items: center;
}

#char-options input {
    padding: 5px;
}

#main-btns {
    display: flex;
    justify-content: center;
}
